<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css" />
     <!-- <style>
      body {
        margin: 0;
        padding: 0;
      }
      .taskbar {
        background-color: #333;
        margin: 0;
        color: #f8faff;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
      }
      .taskbar a {
        padding-right: 50px;
        color: #f8faff;
        text-decoration: none;
      }
      .taskbar a:hover {
        color: salmon;
        text-decoration: underline;
      }
     </style> -->
    <title>Home</title>
  </head>
  <body>
    <div class="header">
      <div class="taskbar">
        <a href="/index.html">Home</a>
        <a href="/insert.html">Insert</a>
        <a href="/read.html">Read</a>
        <a href="/update.html">Update</a>
        <a href="/delete.html">Delete</a>
      </div>
    </div>
    <div class="root">
      <h1 class="heading-top">This is a</h1>
      <h1 class="heading-bottom"><span class="home-user">Full-Stack</span> Application</h1>
      <div class="content">
        <!-- Image Display Here -->
         <div class="cards">
          <div class="card">
            <a href="insert.html"><img src="/assets/insert.png" alt="insert" height="130px"></a>
            <a href="read.html"><img src="/assets/read.png" alt="read" height="130px"></a>
          </div>
          <div class="card">
            <a href="update.html"><img src="/assets/update.png" alt="update" height="130px"></a>
            <a href="delete.html"><img src="/assets/delete.png" alt="delete" height="130px"></a>
          </div>
         </div>
      </div>
    </div>
    <div class="footer">
      <h4>Copyright &copy; 2024</h4>
    </div>
    
  </body>
</html>